{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавление товаров</title>
</head>
<link rel="stylesheet" href="{% static 'css/admin-panel/add.css' %}">
<body>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <!--{{form.image}}<br>
        <label>Название:{{form.title}}</label><br>
        <label>Описание:{{form.description}}</label><br>
        <label>Страниц:{{form.pages}}</label><br>
        <label>Просмотры:{{form.views}}</label><br>
        <label>Количество:{{form.amount}}</label><br>
        <label>Продаж:{{form.sales}}</label><br>
        <input type="file" name="image"/><br>
        <input type="text" name="name" placeholder="Название"><br>
        <input type="text" name="type" placeholder="Тип"><br>
        <input type="text" name="description" placeholder="Описание"><br>
        <input type="text" name="pages" placeholder="Страницы"><br>
        <input type="text" name="views" placeholder="Просмотры"><br>
        <input type="text" name="amount" placeholder="Кол-во"><br>
        <input type="text" name="sales" placeholder="Продажи"><br>
        <input type="text" name="genre" placeholder="Жанр"><br>-->
        <button>Создать</button>
    </form>
    <button class="previous_page">Назад</button>
</body>
<script type="text/javascript" src="{% static 'js/admin-panel/add.js' %}"></script>
</html>