{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Книги</title>
</head>
<link rel="stylesheet" href="{% static 'css/admin-panel/products.css' %}">
<body>
    <table border="1" class="table">
        <tr>
            <th>Обложка</th>
            <th>Название</th>
            <th>Том</th>
            <th>Тип</th>
            <th>Описание</th>
            <th>Страниц</th>
            <th>Кол-во</th>
            <td>Жанры</td>
        </tr>
        {% for i in books %}
            <tr>
                <td><img src="{{i.image.url}}" width="75" height="130"></td>
                <td>{{i.title}}</td>
                <td>{{i.volume}}</td>
                <td>{{i.type}}</td>
                <td>{{i.description}}</td>
                <td>{{i.pages}}</td>
                <td>{{i.amount}}</td>
                <td>{{i.genre}}</td>   

                <td>
                    <form action="/products/remove/" method="POST">
                        {% csrf_token %}
                        <input type="submit" name="operation" value="X"/>
                        <input type="hidden" value="{{i.id}}" name="id_book"/>
                    </form>
                </td>
            </tr>

            <tr>
                <form method="POST" action="/books/edit/">
                    {% csrf_token %} <!-- не будет работать с blank видимо-->
                    <td></td>
                    <td><input type="text" name="title" size="10"/></td>
                    <td><input type="number" name="volume" size="5"></td>
                    <td></td>
                    <td><textarea name="description" rows="7" cols="50"></textarea></td>
                    <td><input type="number" name="pages"/></td>
                    <td><input type="number" name="amount"/></td>
                    <td><input type="text" name="genre" size="15"/></td>
                    <td><input type="submit" value="Изменить" name="operation"/></td>
                </form>
            </tr>
        {% endfor %}
    </table>
    <button class="redirect">На главную</button>
    <button class="logout">Выйти</button>
    <button class="add_book">Добавить</button>
</body>
<script type="text/javascript" src="{% static 'js/admin-panel/books.js' %}"></script>
</html>