.header {
    display: flex;
    height: 40px;
    right: 50%;
}

.find, .icon, .search, .name, .manga, .manhua, .manhwa{
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-weight: bold;
    background-color: rgb(41, 41, 41);
}

.find {
    width: 55%;
    margin-bottom: 50px;
    height: 10px;
}

.icon, .name{
    height: 44px;
}

.search{
    height: 47px;
}

.manga, .manhua, .manhwa{
    margin-bottom: 50px;
    height: 25px;
    border: 1px solid;
    border-color: gray;
}