body{
    background-color: rgb(0, 0, 0);
    color: white;
    user-select: none;
}

.main{
    display: flex;
    flex-wrap: wrap; /* перенос объектов, если не хватает места на странице */
    background-color: rgb(41, 41, 41);
    margin-top: 10px;
    border-radius: 1%;
    padding: 20px 20px;
}

button{
    text-decoration: none;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 2px solid;
    padding: 10px;
    cursor: pointer;
    border-radius: 20px;
}

div[class*=info]{
    display: none;
    position: absolute;
    background-color: rgb(41, 41, 41);
    height: 200px;
    width: 200px;
    border: 2px solid;
    border-radius: 6%;
    left: 50%;
    margin-left: -100px;
}

.info_close{
    position: fixed;
    margin-left: 175px;
    margin-top: -5px;
    border: 1px solid;
    border-radius: 100%;
    background-color: white;
    height: 10px;
    width: 10px;
}

.info-text{
    margin-left: 70px;
}