body{
    background-color: rgb(0, 0, 0);
    color: white;
}

.main{
    display: flex;
    flex-wrap: wrap; /* перенос объектов, если не хватает места на странице */
    background-color: rgb(41, 41, 41);
    margin-top: 10px;
    border-radius: 1%;
    padding: 20px 20px;
}

.book{
    margin-right: 20px;
    margin-bottom: 20px;
    border: 1px solid;
    padding: 10px;
    cursor: pointer;
}

.info{
    display: none;
    position: absolute;
    background-color: rgb(41, 41, 41);
    height: 200px;
    width: 200px;
}