.search-bar{
    position: absolute;
    height: 100px;
    width: 300px;
    display: none;
    left: 50%;
    margin-left: -150px;
    background-color: rgb(41, 41, 41);
}

.close{
    position: absolute;
    left: 100%;
    margin-left: -20px;
    cursor: pointer;
    text-decoration: none;
}

.info_close{
    position: fixed;
    margin-left: 175px;
    margin-top: -5px;
    border: 1px solid;
    border-radius: 100%;
    background-color: white;
    height: 10px;
    width: 10px;
}

.info-text{
    margin-left: 70px;
}